.explore__title{
    color: #fdfdfd;
    font-family: 'Kaushan Script', cursive;
    font-size: 5.0625rem;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

@media (min-width: 0) {
    .explore__title{
    font-size: 3.0625rem;
}
}

@media (min-width: 768px){
    .explore__title{
    font-size: 5.0625rem;
}
}
